
@{
    ViewBag.Title = "Om os";
}
<h2 style="margin-left: -125px;">@ViewBag.Title.</h2>
<h3 style="margin-left: -125px;">@ViewBag.Message</h3>

<p style="margin-left: -125px;">Placeholder: Use this area to provide additional information.</p>
