@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Placeholder: Name.<br />
    Placeholder: Street.<br />
    <abbr title="Phone">P:</abbr>
    Placeholder: Phone number example.
</address>

<address>
    <strong>Support:</strong>   <a href=""></a><br />
    <strong>Marketing:</strong> <a href=""></a>
</address>