@model IEnumerable<WebClient_Commentor.Models.Cars>
   


<div class="jumbotron">
    <h1>Biloptælling</h1>
    <p class="lead">Dette er en prototype af biloptælling</p>

    <p><a></a></p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentDate)
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarCount)
                </td>
                <td class="secs">
                    @Html.DisplayFor(modelItem => item.currentDate)
                </td>

            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5">No data retrieved!</td>
        </tr>
    }
</table>
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>