<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>My Chart.js Chart</title>

    <script type="text/javascript">
    </script>
</head>
<body>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        let myChart = document.getElementById('myChart').getContext('2d');

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        var CurrentDate =@Html.Raw(Json.Encode(ViewBag.CURRENTDATE));
        var Amount = @Html.Raw(Json.Encode(ViewBag.AMOUNT));

        let massPopChart = new Chart(myChart, {
            type: 'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: @Html.Raw(Json.Encode(ViewBag.CURRENTHOUR)),
                datasets: [{
                    label: '',
                    data: @Html.Raw(Json.Encode(ViewBag.CARCOUNT)),
                    //backgroundColor:'green',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)'
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Biloptælling ' + CurrentDate,
                    fontSize: 25
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });

        function loop(chart, index, method) {
            var countSelect;
            var hourSelect;
            var str = document.getElementById("text1").value;
            var str2 = document.getElementById("text2").value;
            $.ajax({
                type: 'GET',
                dataType: 'json',
                async: false,
                url: '/Home/'+ method +'',
                data: { start: str, end: str2 },
                success: function (Data) {
                    count = Data.countSelect;
                    hours = Data.hourSelect;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
            countSelect = count;
            hourSelect = hours;
            var Amount = index;
            while (Amount != -1) {
                removeData(chart, Amount);
                Amount--;
            }

            var count = Object.keys(hourSelect).length;

            var Amount2 = 0;
            while (Amount2 != count) {
                addData(chart, Amount2, hourSelect, countSelect);
                Amount2++;
            }
        }

        function addData(chart, index, table1, table2) {
            chart.data.labels.push(table1[index]);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(table2[index]);
            });
            chart.update();
        }

        function removeData(chart, index) {
            chart.data.labels.splice(index, 1);
            chart.data.datasets[0].data.splice(index, 1);
            chart.update();
        }
    </script>
    <input id="text1" placeholder="Start Time">
    <br><br>
    <input id="text2" placeholder="Slut Time">
    <input type="button" value="Sorter" onclick="loop(massPopChart, Amount, 'SortBetweenHours')">
</body>
</html>
