<!DOCTYPE html>
@{
    ViewBag.Title = "Grafer for optalte biler";
}
<h2 style="margin-left:-125px">Grafer for optalte biler</h2>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>My Chart.js Chart</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Linkcolor.css" rel="stylesheet" />
</head>
<body style="border: 2px solid #4470ad; margin-left: 250px; margin-right: 100px;">
    <div style="margin-left: -125px">
        <button id='line'>Line</button>
        <button id='bar'>Bar</button>
        <button id='horizontalBar'>Horisontal Bar</button>
        <div class="container">
            <canvas id="myChart"></canvas>
        </div>





        <script>
        var Amount = 14;
        var color = poolColors(Amount)
        var chartData = {
            labels: @Html.Raw(Json.Encode(ViewBag.CURRENTHOUR)),
            datasets: [{
                label: '',
                data: @Html.Raw(Json.Encode(ViewBag.CARCOUNT)),
                backgroundColor: color,
                borderWidth: 1,
                borderColor: color,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        };

        var CurrentDate =@Html.Raw(Json.Encode(ViewBag.CURRENTDATE));
        var optionsData = {
            title: {
                display: true,
                text: 'Biloptælling ' + CurrentDate,
                fontSize: 25
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                enabled: true
            },
            ticks: {
                beginAtZero: true
            }
        }

        var ctx = document.getElementById('myChart')

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        let massPopChart = new Chart(ctx, {
            type: 'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: chartData,
            options: optionsData,
        });

        function change(newType) {

            // Remove the old chart and all its event handles
            if (massPopChart) {
                massPopChart.destroy();
            }

            // Chart.js modifies the object you pass in. Pass a copy of the object so we can use the original object later
            massPopChart = new Chart(ctx, {
                type: newType,
                data: chartData,
                options: optionsData,
            });
        };

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function poolColors(a) {
            var pool = [];
            for (i = 0; i < a; i++) {
                pool.push(getRandomColor());
            }
            return pool;
        }


        function loop(chart, index, method) {
            var countSelect;
            var hourSelect;
            var str = document.getElementById("text1").value;
            var str2 = document.getElementById("text2").value;
            var str3 = document.getElementById("datetimepicker1").value;
            var str4 = document.getElementById("datetimepicker2").value;
            $.ajax({
                type: 'GET',
                dataType: 'json',
                async: false,
                url: '/Home/'+ method +'',
                data: { startHour: str, endHour: str2, startDate: str3, endDate: str4 },
                success: function (Data) {
                    count = Data.countSelect;
                    hours = Data.hourSelect;
                    days = Data.daySelect
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });

            countSelect = count;
            hourSelect = hours;
            daySelect = days;
            var Amount = 100;
            while (Amount != -1) {
                removeData(chart, Amount);
                Amount--;
            }

            var count = Object.keys(hourSelect).length;

            var Amount2 = 0;
            while (Amount2 != count) {
                addData(chart, Amount2, hourSelect, countSelect);
                Amount2++;
            }

            var Amount3 = 0;
            while (Amount2 != count) {
                addData2(chart, Amount2, Amount3, hourSelect, countselect);
                Amount2++;
            }
        }

        function addData(chart, index, table1, table2) {
            chart.data.labels.push(table1[index]);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(table2[index]);
            });
            chart.update();
        }

        function addData2(chart, index, table3, table4) {
            chart.data.labels.push(table3[index]);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(table4[index]);
            })
            chart.update();
        }

        function removeData(chart, index) {
            chart.data.labels.splice(index, 1);
            chart.data.datasets[0].data.splice(index, 1);
            chart.update();
        }

        </script>
        <style type="text/css">
            .centerDiv {
                width: 100%;
                margin: 0 auto;
            }
        </style>
        <div class="centerDiv" style="width: 100%; display: table">
            <div style="display: table-row">
                <div style="width: 350px; display: table-cell;">
                    <input id="text1" placeholder="Start Time" min="0" max="23">
                    <br />
                    <input id="text2" placeholder="Slut Time" min="0" max="23">
                    <br />
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" placeholder="Start Dato" id="datetimepicker1" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" placeholder="Slut Dato" id="datetimepicker2" />
                        </div>
                    </div>
                    <br>
                    <div class="pull-left" style="margin-right:5px">
                        <input type="button" value="Sorter Dato & Timer" onclick="loop(massPopChart, Amount, 'SortBetweenDaysAndHours')" />
                        <input type="button" value="Sorter Efter Dage" onclick="loop(massPopChart, Amount, 'SortBetweenDays')">
                        <input type="button" value="Sorter Efter Uger" onclick="loop(massPopChart, Amount, 'SortBetweenWeeks')" />
                    </div>
                    <!--<input type="button" value="Sorter Time" onclick="loop(massPopChart, Amount, 'SortBetweenHours')">-->
                    <br><br>
                </div>
                <div style="width: 350px; display: table-cell;">
                    @section scripts {
                        <script>
                            $('#datetimepicker1').datetimepicker({
                                format: 'DD MMM YYYY'
                            });
                        </script>

                        <script>
                            $('#datetimepicker2').datetimepicker({
                                format: 'DD MMM YYYY'
                            });
                        </script>


                        <script>
                            $("#line").click(function () {
                                change('line');
                            });
                        </script>

                        <script>
                            $("#bar").click(function () {
                                change('bar');
                            });
                        </script>

                        <script>
                            $("#horizontalBar").click(function () {
                                change('horizontalBar');
                            });
                        </script>

                    }

                    <div>

                    </div>
                    <br />

                </div>
                <br />
                <div style="width: 350px; display: table-cell;">
                    <input type="text" id="txtDelete" name="txtDelete" placeholder="Indtast ID for at slette" />
                    <br />
                    <br>
                    <input type="button" value="Slet" id="btnSlet"
                           onclick="location.href='@Url.Action("DeleteFromDb", "Home")?deleteText=' + document.getElementById('txtDelete').value; return false;" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
