
@{
    ViewBag.Title = "KameraOversigt";
}

<h2 style="margin-left:-125px">Kamera Oversigt</h2>
<head>
    <meta charset="utf-8">
    <title>Using Parcel with OpenLayers</title>
    <style>
        #map {
            width: 400px;
            height: 250px;
        }
    </style>
</head>
<body style="border: 2px solid #4470ad; margin-left: 250px; margin-right: 100px;">
    <script src="~/Content/OpenLayers V6.4.3/ol.js"></script>
    <link href="~/Content/OpenLayers V6.4.3/ol.css" rel="stylesheet" />
    <div id="map"></div>
    <script src="./KameraOversigt.js"></script>
    <iframe width="1280" height="720" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=9.963784217834474%2C57.028370970491586%2C9.977946281433107%2C57.03354386410582&amp;layer=mapnik" style="border: 1px solid black; margin-left:-125px; margin-top:-220px"></iframe><br /><small><a href="https://www.openstreetmap.org/#map=17/57.03096/9.97087">View Larger Map</a></small>
</body>