@{
    ViewBag.Title = "LiveStreamVideo";
}
<h2 style="margin-left:-125px"> Live Stream Video </h2>
<head></head>
<body style="border: 2px solid #4470ad; margin-left: 250px; margin-right: 100px;">
    <div class="container" style="margin-left: -125px">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/5C4Y0mXsBXs?&autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>